language: php

php:
  - 5.6

env:
  - DEPENDENCIES=""
  - DEPENDENCIES="--prefer-lowest"

matrix:
  include:
    - php: 5.6
      env: CHECK_CODESTYLE=1
      before_install: phpenv config-rm xdebug.ini
      script: composer all
      after_success: ~

install:
  - travis_retry composer self-update && composer --version
  - travis_retry composer update --no-interaction $DEPENDENCIES

script:
  - vendor/bin/phpunit --coverage-clover coverage-clover.xml

after_success:
  - travis_retry php vendor/bin/coveralls -v
